<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>chick_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{160,160}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,160}}</string>
                <key>sourceSize</key>
                <string>{160,160}</string>
            </dict>
            <key>chick_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{164,2},{120,216}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,216}}</string>
                <key>sourceSize</key>
                <string>{120,216}</string>
            </dict>
            <key>chick_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{286,2},{120,200}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,200}}</string>
                <key>sourceSize</key>
                <string>{120,200}</string>
            </dict>
            <key>chick_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,220},{120,214}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,214}}</string>
                <key>sourceSize</key>
                <string>{120,214}</string>
            </dict>
            <key>chick_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{124,220},{146,214}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{146,214}}</string>
                <key>sourceSize</key>
                <string>{146,214}</string>
            </dict>
            <key>chicken.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,436},{333,450}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{333,450}}</string>
                <key>sourceSize</key>
                <string>{333,450}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>chicks_sprites.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:d77167caff0791325458548aecc9e498$</string>
            <key>textureFileName</key>
            <string>chicks_sprites.png</string>
        </dict>
    </dict>
</plist>
